body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.bounce {
  height: 50px;
  overflow: hidden;
  position: relative;
  background: #fefefe;
  color: #333;
  border: 1px solid #4a4a4a;
}

.bounce p {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  line-height: 50px;
  text-align: center;
  -moz-transform: translateX(100%);
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  -moz-animation: bouncing-text 30s linear infinite ;
  -webkit-animation: bouncing-text 30s linear infinite ;
  animation: bouncing-text 30s linear infinite ;
}
 
@keyframes bouncing-text {
  0% {
      -moz-transform: translateX(100%);
      -webkit-transform: translateX(100%);
      transform: translateX(100%);
  }
  100% {
      -moz-transform: translateX(-100%);
      -webkit-transform: translateX(-100%);
      transform: translateX(-100%);
  }
}
.bounce.upperSide {
  min-height: 920px;
}
 
.bounce.upperSide  p {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0; 
  line-height: 1.6em;
  text-align: left;
  -moz-transform: translateY(100%);
  -webkit-transform: translateY(100%);
  transform: translateX(100%);
  -moz-animation: bouncing-text-up 30s linear infinite ;
  -webkit-animation: bouncing-text-up 30s linear infinite ;
  animation: bouncing-text-up 30s linear infinite ;
}
 
@keyframes bouncing-text-up {
  0% {
      -moz-transform: translateY(100%);
      -webkit-transform: translateY(100%);
      transform: translateY(100%);
  }
  100% {
      -moz-transform: translateY(-100%);
      -webkit-transform: translateY(-100%);
      transform: translateY(-100%);
  }
}

textarea{height: 300px !important}